.reactions
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container
{
    margin-top: 2px;
    cursor: pointer;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    display: flex;
    align-content: space-around;
    width: 32px;
    margin-right: 3px;
}

.container:hover
{
    border-color: #4b0082;
}

.amount
{
    font-size: 16px;
    margin-left: 3px;
}

.pressed
{
    border-color: #4b0082;
    background-image: linear-gradient(45deg, rgb(238, 207, 186), rgb(197, 221, 232));
}
