.chat-input
{
    grid-area: chat-input;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: flex-end;
}

.chat-input__input-elements
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-input__input-elements > :first-child
{
    width: 100% !important;
}

.chat-input__red-dot
{
    background-color: #d32f2f;
    border-radius: 100%;
    border: 1px solid #9e9e9e;
    width: 8px;
    height: 8px;

    position: absolute;
    top: 18px;
    left: 160px;
}
