.message-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
}

.message
{
    padding-top: 15px;
}

.message__icon
{
    cursor: default;
}
