@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

h1
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 10vh;
    margin-bottom: 20vh;
    color: #fff;
}

.pony
{
    float: left;
    width: 40vh;
}

.signin__container
{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #3da6c2, #f5002a);
    text-align: center;
}

.sign-in
{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.sign-in__a,
.sign-in__a:link,
.sign-in__a:visited
{
    width: 220px;
    height: 44px;
    margin: 0 auto;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 40px;
    padding: 20px 40px;
    display: block;
    border: 0px solid #b0e0e6;
    text-align: center;
    background: linear-gradient(to top left, #b3e3e9, #ffc3cf);
    color: #434343;
}

.sign-in__a:hover
{
    background: linear-gradient(to top left, #76c9d4, #ff748c);
    color: #fff;
}
