.chat-input-buttons
{
    display: flex;
    flex-direction: row;
}

.chat-input-buttons__show-picker-button
{
    cursor: pointer;
}

.chat-input-buttons__sprite
{
    background-image: url(/static/images/chat-sprites.png);
    background-repeat: no-repeat;
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 3px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.chat-input-button__sprite-emoji
{
    background-position: -45px -5px;
}

.chat-input-buttons__sprite-mic
{
    background-position: -5px -45px;
}

.chat-input-buttons__sprite-crossed-mic
{
    background-position: -45px -45px;
}

.chat-input-buttons__recognition-button
{
    cursor: pointer;
}

.chat-input-buttons__file-label
{
    cursor: pointer;
}

.chat-input-buttons__sprite-file
{
    background-position: -5px -5px;
}

.chat-input-buttons__file-input
{
    display: none;
}
